@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    background-color: rgb(241 245 249);
  }
}

.custom-input-date::-webkit-calendar-picker-indicator {
  background-position: center;
  background-repeat: no-repeat;
  background-size: 20px;
}
.custom-input-date-1::-webkit-calendar-picker-indicator {
  background-image: url(./images/icon/icon-calendar.svg);
}
.custom-input-date-2::-webkit-calendar-picker-indicator {
  background-image: url(./images/icon/icon-arrow-down.svg);
}

[x-cloak] {
  display: none !important;
}

.data-list-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.filter-section {
  align-self: end;
}

.page-heading-section {
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  padding-bottom: 15px;
  margin-bottom: 15px;
}

.data-list-section {
  background: #fff;
  padding: 6px 5px;
  border-radius: 8px;
}

.login-container {
  width: 100%;
  margin: 0 auto;
  background: rgb(0 0 0 / 71%);
  padding: 38px 24px;
  border-radius: 8px;
}

.filter-section {
  display: flex;
  gap: 10px;
}

.filter-select .MuiInputBase-input {
  padding: 8.5px 14px;
}

.filter-select .MuiInputBase-input li {
  font-size: 13px;
}

.right-action {
  display: flex;
  gap: 10px;
}

.login-brand {
  display: flex;
  align-items: center;
  color: #fff;
  font-size: 33px;
  font-weight: 600;
  justify-content: center;
}

/* For tablets: */
@media screen and (min-width: 768px) {
  .login-container {
    width: 50%;
  }
}

/* For desktop: */
@media screen and (min-width: 1024px) {
  .login-container {
    width: 28%;
  }
}
